.container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  gap: 16px;
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  
  gap: 8px;
}

.controlBox {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 16px;
}
