.top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  gap: 16px;
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  
  gap: 8px;
}

.drawerForm {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.drawerInputBox {
  padding: 12px 0;
}

.drawerButton {
  margin: auto 0 0 auto;
}
